
<section class="create-page-wrap">
	<header>
		<p class="font-italic">Complete Your Profile</p>
	</header>
	<div class="create-user-section">
		<form name="createUser" novalidate>

			<div class="avatar-ring">
				<div class="avatar">
					<img ng-src="{{social.user.avatarImg}}">
				</div>
			</div>
			<div ng-show="social.uploadImg" class="upload-photo-btn">
				<input type="file" class="custom-photo-input" onchange="angular.element(this).scope().uploadFile(this.files)"/>
			</div>
			<div ng-hide="social.uploadImg" class="unload-disable">
				<i class="ion-aperture"></i>
			</div>

			<div class="user-name">
				<div class="form-group" show-errors>
					<input class="form-control has-error-dark" name="userName" ng-model="social.user.displayName" placeholder="Full name"required>
				</div>
				<p class="error-color" ng-show="social.needMoreName">Please provide a First and Last Name</p>
				<p class="error-color" ng-show="social.needLessName">First and Last Name Only</p>
			</div>
			<div class="input-title">
				<i class="ion-ios-star"></i> BIO
			</div>
			<div class="form-group" show-errors>
				<textarea name="userBio" class="form-control one-per-line-input has-error-dark" rows="3" placeholder="Add up to 300 characters about yourself." ng-model="social.user.bio" required></textarea>
			</div>

			<div class="input-title">
				<i class="ion-ios-star"></i> EMAIL
			</div>
			<div class="form-group" show-errors>
				<input name="userEmail" class="form-control one-per-line-input has-error-dark" type="email" placeholder="Email address" ng-model="social.user.email" required></input>
			</div>

			<div class="input-title input-title-half">
				PROFESSION
			</div>
			<div class="input-title input-title-half">
				<i class="ion-ios-star"></i> DOB
			</div>
			<div class="form-group two-per-line-input">
				<input name="userProfession" class="form-control one-per-line-input" placeholder="Line of Work" ng-model="social.user.profession"></input>
			</div>
			<div class="form-group two-per-line-input" show-errors>
				<input type="date" name="userDOB" class="form-control date-input input-bigger has-error-dark" placeholder="00.00.00" ng-model="social.user.dob" required></input>
			</div>

			<div class="input-title input-title-half">
				LOCATION
			</div>
			<div class="input-title input-title-half">
				SEX
			</div>
			<div class="form-group">
				<input class="half-input right-input-margin" placeholder="Where you call home" ng-model="social.user.city"></input>
				<select class="half-input" ng-model="social.user.sex">
					<option value="" disabled selected>Select your option</option>
					<option value="Female">Female</option>
					<option value="Male">Male</option>
				</select>
			</div>

			<div class="input-title">
				<i class="ion-ios-star"></i> WEBSITE OR LINK
			</div>
			<div class="form-group" show-errors>
				<input name="userLink" class="form-control one-per-line-input has-error-dark" placeholder="Add a link to your website, Twitter, or anything you like." ng-model="social.user.weblink" required></input>
			</div>

			<div class="terms-check-box">
				<i class="ion-ios-circle-filled"></i> I accept Scriptd's Terms of Serivce and Privacy Policy.
			</div>
			<p class="help-block help-block-dark" ng-if="createUser.userLink.$error.required || createUser.userDOB.$error.required || createUser.userPassword.$error.required || createUser.userEmail.$error.email || createUser.userBio.$error.required || createUser.userName.$error.required">* Oops, please fill out the above missing info.</p>
			<div ng-click="social.register(social.user)" class="shared-btn create-btn">
				COMPLETE
			</div>
		</form>
	</div>
</section>